# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MSVC
*.user
*.vsp
*.suo
*.sdf
*.psess
*.opensdf

/ipch
/Debug
/Release
/x64

*/bin
*/obj
*/Debug
*/Release
*/x64
/External/gplex
/External/gppg
/External/bullet-2.77
/External/Glasses
/External/*.zip
/TestApp
/packages
LSTools.VC.db
*.opendb
LSLib/LS/Story/Osiris.lex.cs
LSLib/LS/Story/Osiris.yy.cs