<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineArgumentsParser" version="3.0.19" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
</packages>